/*
	GMail - People Widget Drawer (with ad blocking)
	By lOtR
	http://userstyles.org/styles/50996
*/

@namespace url(http://www.w3.org/1999/xhtml);
.iY .Bu:last-child > .nH {
   height: 0px !important;
   width: 0px !important;
}


.iY .Bu:last-child > .nH > .nH > .nH:last-child {
   overflow: hidden !important;
   height: 0px !important;
   width: 0px !important;
}



.iY .Bu:first-child + .Bu {
   display: none !important;
}


.iY {
   width: 100% !important;
}




.iY .Bu:last-child .ChoCtb {
   position: absolute !important;
   right: 8px;
   
}
.iY .Bu:last-child .ChoCtb .ibIYee {
   padding: 0 !important;
}
.iY .Bu:last-child .ChoCtb .g3FPRd {
   display: none;
}


.iY .Bu:last-child .ChoCtb:hover {
   width: 225px;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
   border-radius: 2px;
}



.iY .Bu:last-child .ChoCtb:not(:hover) .ibIYee {
   display: block !important;
}

.iY .Bu:last-child .ChoCtb:not(:hover) {
   width: 125px;
   height: 32px;
}
.iY .Bu:last-child .ChoCtb:not(:hover) .RiHMIe {
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 2px;
   margin-bottom: 0 !important;
}
.iY .Bu:last-child .ChoCtb:not(:hover) .bt4vxb {
   height: 24px;
   text-align: center !important;
}

.iY .Bu:last-child .ChoCtb:not(:hover) .bt4vxb:after {
   margin-left: 3px;
   content: url("data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKCAYAAAB4zEQNAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAAd0SU1FB9sHEhQFCnqQE78AAABTSURBVBjTnc+xDYAwDETRb0/EVF4DMoblJcIkZCNTgZBJgfjt6RUHfxMzO4BlsnUVkW2mMrOpu+/AqCoihgJUnZkNQAGK7hEx7vGpL/XKzNbPP09izB3b/gmobwAAAABJRU5ErkJggg==");
}

.iY .Bu:last-child .ChoCtb:not(:hover) .QRIsO,  
.iY .Bu:last-child .ChoCtb:not(:hover) .B6JH7e, 
.iY .Bu:last-child .ChoCtb:not(:hover) .VPswcc, 
.iY .Bu:last-child .ChoCtb:not(:hover) .WAtuJe, 
.iY .Bu:last-child .ChoCtb:not(:hover) .CmTvQb, 
.iY .Bu:last-child .ChoCtb:not(:hover) .KYbFhc > img, 
.iY .Bu:last-child .ChoCtb:not(:hover) .y6qjg { 
   display: none;
}


.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe {
   display: block;
}
.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe .hJonnb,  
.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe .yX5eO,   
.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe .Jpk70b,  
.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe .t5wZW {  
   display: none;
}

.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe .d3AZZe {
   margin: 0 6px;
   padding: 0 5px !important;
   height: 24px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 2px;
   font-size: 80%;
}

.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe .d3AZZe .cmauub {
   width: auto !important;
   margin: auto;
}

.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe .d3AZZe .eUCghe {
   vertical-align: middle !important;
   height: 24px !important;
   max-width: 90px;
   color: #666666 !important;
}

.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe .d3AZZe .mnW9ef {
   width: 10px !important;
   height: 24px !important;
}

.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe .d3AZZe .KYbFhc {
   width: 0 !important;
   height: 19px !important;
   padding: 5px 0 0 !important;
}
.iY .Bu:last-child .ChoCtb:not(:hover) > .nH:nth-last-child(2) > .WAtuJe .d3AZZe .KYbFhc:after {
   margin-left: 3px;
   padding-top: 3px;
   content: url("data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKCAYAAAB4zEQNAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAAd0SU1FB9sHEhQFCnqQE78AAABTSURBVBjTnc+xDYAwDETRb0/EVF4DMoblJcIkZCNTgZBJgfjt6RUHfxMzO4BlsnUVkW2mMrOpu+/AqCoihgJUnZkNQAGK7hEx7vGpL/XKzNbPP09izB3b/gmobwAAAABJRU5ErkJggg==");
}



.iY .Bu:first-child > .if > .nH:first-child {
   padding-right: 125px;
   margin-right: 8px;
}
