/* 腾讯网 */
div[class*="l_qq_com"],div[class*="qiye-Article-QQ"],div[class*="business-Article-QQ"],embed[name="flash_focus"],div[id="followall_mod"]{display:none !important}
div[id^="AdRight-"],div[class*="adbutton-"],div[id^="ad_right"],td[bgcolor="#999999"]{display: none !important;}

/* 大渝网 */
div[style="width:960px;height:65px;margin:0px auto 3px auto;"],div[style="width:960px; height:65px; margin:0px auto 3px auto;"],div[style="width:960px;height:90px;margin:0px auto 3px auto;"],
div[style$="px auto;overflow:hidden;background-color:#E6E6E6;"],div[style="width:650px;height:100px;margin:1px auto;"],div[class="mod-right Day-Article-QQ"],div[class="mod-right"]{
display: none !important;
	}
div[class$="dayuw_ad"],div[class="mininewcontent"]{display: none !important;}

/* 大楚网 */
div[class="main ads"],div[class^="main_border ads"],div[class^="hot_news_img"],div[class$="LoveLife-Article-QQ"],div[id^="hb_yc_"][style$="0px;"],div[class^="fleft w730ad"],
div[class="gg"],div[class="ggs"],div[class^="txt m"],div[class="sidBoxNoborder mar-b8"],table[width="960"][border="0"][cellspacing="0"][cellpadding="0"]{
display: none !important;
	}