sohuadcode {display:none !important}
#videoNews,div[class="blockA blockAA clear"],div[class="blockA clear"],div[class="tvsubject bgA clear"],div[class="muNew clear"],div[class="sogouSearch clear"],div[class="coverAge clear"],div[id="contentC"][class="area"],div[class="nfRank clear"],div[class="mediaCover clear"]{
  display: none !important;
}
HTML>BODY>DIV[id="contentA"][class="area"]>DIV[class="right"],HTML>BODY>DIV[id="contentA"][class="area"]>DIV[class="left"]>H2{
  display: none !important;
}
div#chLogo{
height: 28px !important;
border-top: 1px solid #AFC5DB !important;
}

div#contentA[class="area"]>div.left{
width:978px !important;
background-color: #FFFFFF !important;
border-left: 1px solid #AFC5DB !important;
border-right: 1px solid #AFC5DB !important;
}

div.sourceTime , *[class="function clear"] , div#contentText,*[class="comment clear"] , div[class="reMark clear"]{
width:880px !important;
}

div#CMT_showList>div[class="reCont clear"] , div#CMT_showList>div[class="reCont clear"]>div[class="reC clear"] , div#CMT_wrapper{
  width: 800px !important;
}