@charset "utf-8";
@namespace url(http://www.w3.org/1999/xhtml);

/*
Name: /广告过滤规则
Version: 1.86
Author: vokins
Description: MayBe a better Adfilter CSS.
*/

/* 强制使用雅黑字体字体 */
 * {font-family: YaHeiConsolas,"Microsoft YaHei","微软雅黑",Tahoma,SimSun,"宋体"  !important;}

/* AD规则 */
div[class^="ad"],div[class^=AD],[class^="adNone"],div[id*="0_AD_1"],
[class$="_ad"],[id$="_ad"],[class$="Ad"],[id$="Ad"],div[class^="ad_"],div[id^="ad_"] {
display: none !important;
	}
[class$="Ads"],[class^="ad-"],[class^="ads"],[class^="adv_"],
[id$="-ad"],div[id$="Adv"],[id$="ads"],[id$="Ads"],div[id$="AD"] {
display: none !important;
	}
[id^="_AD"],[id^="ads_"],div[id^="adbn_"],[class$="adclass"],
div[id^="AD1"],div[id^="AD2"],div[id^="AD3"] {
display: none !important;
	}

/* GG规则 */
[class^="colL gg"],[class^="l-gg"],
[class^="gg"],[id^="gg"] {
display: none !important;
	}
	
/* 方位广告*/
span[id*="adsense"],div[id$="banner_left"],div[id$="banner_right"],
div[id$="top_banner"],[id$="right_banner"],[id$="left_banner"] {
display: none !important;
	}
[class*="AdTop"],[$="TopAD"],
div[class$="anner"][id^="ad"],div[class*="topBanner"] {
display: none !important;
	}
[id*="top_ad"],[class*="top_ad"],[id*="topAD"],
[class*="topAD"],[id*="topad"],[class*="topad"] {
display: none !important;
	}
[id*="ightAd"],[id*="ad_right"],
[class*="rightad"],[id*="rightad"] {
display: none !important;
	}
[id^="AdRight"],[class^="AdRight"],
[class*="left_ad"],[id*="left_ad"] {
display: none !important;
	}
[class*="leftad"],[id*="leftad"],
[class*="pic_ad"],[id*="pic_ad"] {
display: none !important;
	}
div[class="left"][id^="ad"],
div[class="right"][id^="ad"] {
display: none !important;
	}

/* Flash广告*/
embed[type="application/x-shockwave-flash"][src*="_Banner"],embed[type="application/x-shockwave-flash"][src*="/ad"],embed[type="application/x-shockwave-flash"][href*="/ad"],embed[type="application/x-shockwave-flash"][src*=".ad"],embed[type="application/x-shockwave-flash"][href*=".ad"],embed[type="application/x-shockwave-flash"][src*="?click"],embed[type="application/x-shockwave-flash"][href*="?click"],embed[type="application/x-shockwave-flash"][src*="/click"],
embed[type="application/x-shockwave-flash"][href*="/click"],embed[type="application/x-shockwave-flash"][href*="promos"],embed[type="application/x-shockwave-flash"][href*="=click"],embed[type="application/x-shockwave-flash"][href*="redirect"],embed[type="application/x-shockwave-flash"][href*="/A="],embed[type="application/x-shockwave-flash"][name*="advert"],embed[type="application/x-shockwave-flash"][name*="banner"],embed[type="application/x-shockwave-flash"][name$="_adv"],OBJECT[id="TUI_flashObj_1"][width="220"][height="220"][type="application/x-shockwave-flash"] {display:none;}

[id*="_flash_click_"],[id*="Adflash"],[id*="FLASH_AD"],[id*="flash_ad"],[id*="flashad"],div[class^="flashbanner"],
div[class^="richMedia],div[id^="AdLayer"],div[id^="smExtObj"],div[id^="StreamMediaWrap"] {display: none !important;}

/* 文字广告 */
[class="ad_doc_text"],[id^="adText"],
div[class="text"][id^="text"] {
display: none !important;
	}
[class*="textad"],[class*="TextAd"],
[class*="ad_text"],[id*="ad_text"] {
display: none !important;
	}
[id^="text_ad"],[class*="word_ad"],
div[class$="turn_ad"] {
display: none !important;
	}

/* 论坛广告和签名隐藏 */
[id^="thread_ads_"],div[class^="a_p"],[class^="signature"],.sign,.postertext {display: none !important;}
.forumimglink,.forumlinks,.forumtxtlink,.postbit_adcode,#adbottom,#GoogleAd,#footerStuff {display: none !important;}

/* 浮动 弹窗广告 */
[class*="Close"],[id^="close"],
[class*="popup"],[id*="popup"],div[id^="popWin"] {
display: none !important;
	}
div[id^="Float"],div[id*="float"],div[class*="float"],
div[id$="adshow"],div[id^="pf_ad"],[id^="iframeAd"] {
display: none !important;
	}
div[id^="followDiv"],div[id^="kxsoMovie"],div[id^="pop_container_] {display: none !important;}
#msg-faq,#bbsPOPFrame,#bshareF,#feedback-box,#fixedLayertop,#ShowQQ,#sitefocus,#SlipLay,#ty_msg_box,.QQbox {display: none !important;}

/* 各种提示隐藏 */
 DIV[id="mbCarduserNotLogin"],#popTudouVA,#_tc_browser_promotion,[id*="sogou_se"],div[class="upgrade_your_browser"],DIV[class="fblike_button"] {display: none !important;}

/* 广告框架过滤 */
TD[width="50%"][align="center"] {display: none !important;}
TD[width="960"][height="90"][align="center"]{display: none !important;}

/* 部分站点广告 */
[href*="http://ac.51job.com/phpAD/ad"],[src*="http://pfp.sina.com.cn"],[src*="http://pic.zol-img.com.cn/201"],a[href*="http://adrs.sdo.com"],a[href*="ivy.pconline.com.cn"],A[href^="http://adcount.178.com/count.php"],
a[href^="http://global.ard.yahoo.com/],a[href^="http://rd.qihoo.com/out.html?u="],iframe[src*="/other/frmCircleNews.htm"],IFRAME[src^="http://u.115img.com/static/modules/"],IFRAME[src^="http://www.facebook.com/plugins/like.php"] {display: none !important;}
div[id="qd_reader_footer"],div[class="ruanw box"],
div[class="bannerleft"] {
display: none !important;
	}
DIV[class^="content ad-b"]{display:none !important}

/* 网页隐藏文字和链接过滤 {display: none;} */
[style*="font-size:0p"],[style*="font-size: 0p"],
SPAN[class="transparent"],fieldset[style*=”:1px dashed“] {
display: none !important;
	}
*[href*="tag.php?name="],.t_tag { border: none !important; }

/*输入框类chrome高亮*/
input:not([type='submit']):not([type='reset']):not([type='button']):not([type='checkbox']):not([type='radio']):focus, textarea:focus, select:focus{ border:1px solid #0099FF;  box-shadow: 1px 1px 0 #0099FF, 1px -1px 0 #0099FF, -1px 1px 0 #0099FF, -1px -1px 0 #0099FF, 0px 0px 5px 1px #0099FF !important;  border-radius:3px!important; }

/* 将白色字体变为暗蓝灰 */
[style*="color: white"],[style*="color: #FFFFFF"],[color*="White"],[color*="#FFFFFF"] {color: #483D8B !important;}

/*阻止<blink>标签带来的闪烁*/
blink, .blink, *[style*="blink"]{text-decoration : inherit !important;}

/* 广告和指向链接隐藏 */
iframe[name="ads_frame"],IFRAME[src="about:blank"],IFRAME[src="adb.php"],IFRAME[src="adt.php"] {
	display: none !important;
}

[href*="/ads"],[href*="/adv"],[href*="clickpromotion.php?"],[href*="counter"],a[href*="/adclick.php?"],a[href*="/adfclick?"],a[href*="/guanggao"],a[href*="/interface/cpm.php?"],
a[href*="/showavd.aspx?adid="],IFRAME[src*="/interface/cpmblank.php?"],IMG[src*="/a-d-s/"]   {
	display: none !important;
}

[href*="pagead"],[id*="adsense"],[src*="pagead"],[href*="doubleclick.net"],[href*="googlesyndication.com"],
[href="http://www.google-analytics.com/urchin.js"],[src="http://www.google-analytics.com/urchin.js"]  {
	display: none !important;
}

a[href*="cpro.baidu.com"],a[href*="cb.baidu.com"],a[href*="hm.baidu.com"],a[href^="http://www.baidu.com/adrc.php"],
a[href*="www.baidu.com/baidu.php?"],a[href*="www.baidu.com/baidu.php?"] + BR,a[href*="www.baidu.com/baidu.php?"] + BR + FONT  {
	display: none !important;
}

[href*="网购排行：淘宝网最新热门东西"],[src*="网购排行：淘宝网最新热门东西"],
a[href*="http://click.mz.simba.taobao.com/"],a[href*="http://s.click.taobao.com"],A[href^="http://click.simba.taobao.com"] {
	display: none !important;
}

a[href*="cpc.sogou.com"],a[href*="goto.sogou.com"],
a[href*="http://images.sohu.com/bill/"] {
	display: none !important;
}

a[href*="alimama.c"],iframe[src*="alimama.c"],a[href*=".allyes.c"],a[href^="http://click.mediav.com"],
a[href*="ad-plus.cn"],a[href*="wrating.com"] {
	display: none !important;
}

a[href*="adsfile.qq.com"],
a[href*="l.qq.com/adsclick?"] {
	display: none !important;
}

a[href*="ashow.pcpop.com"],
IFRAME[src^="http://ashow.pcpop.com/"] {
	display: none !important;
}


a[href*="sc.ifeng.com"],IMG[src^="http://img.ifeng.com/tres/"],
IFRAME[src*="http://sp.vcimg.com/"] {
	display: none !important;
}

[src*="http://pub.mop.com"],IFRAME[src*="mopgg.mop.com"] {
	display: none !important;
}

A[href^="http://g.163.com/"],
IMG[src^="http://img1.126.net/channel"] {
	display: none !important;
}

[src*="http://g.crsky.com/ggao/"],
[href*=".greendown.cn/ggao/"] {
	display: none !important;
}
