@charset "utf-8";
@namespace url(http://www.w3.org/1999/xhtml);

/*
Name: /广告过滤
Version: 2.94
Author: KwokTree
Description: MayBe a better User CSS Hide AD.
*/
/* 强制使用雅黑字体字体 */
 * {font-family: YaHeiConsolas,"Microsoft YaHei","微软雅黑",Tahoma,SimSun,"宋体"  !important;}

/* 网页隐藏文字和链接过滤 */
font[color*="FAE"]{display:none !important}
font[style*="font-size:0p"]{display:none !important}
font[style*="font-size: 0p"]{display:none !important}
SPAN[class="transparent"],fieldset[style*=”:1px dashed“] {display: none !important;}
*[href*="tag.php?name="],.t_tag { border: none !important; }

/* 去除伪链接的下划线 */
A:not([href]){
text-decoration: none !important;
}

/* 去除非链接文字下划线，并给这些文字加粗 */
U,SPAN[style="text-decoration: underline"]{
text-decoration: none !important;
font-weight: bold !important;
}

/* 将白色字体变为暗蓝灰 */
[style*="color: white"],[style*="color: #FFFFFF"],[color*="White"],[color*="#FFFFFF"]{color: #483D8B !important;}

/* 阻止<blink>标签带来的闪烁 */
blink, .blink, *[style*="blink"]{text-decoration : inherit !important;}


/* Google */
[id*="adsense"],[href*="pagead"],[src*="pagead"],div[id="rhs_block"],ol[onmouseover="return true"] {display:none !important}

/* Baidu */
a[href*="cb.baidu.com"],a[href*="hm.baidu.com"],a[href*="cpro.baidu.com"]{display:none !important}
a[href^="http://www.baidu.com/adrc.php"]{display:none !important}
a[href*="www.baidu.com/baidu.php?"]{display:none !important}
a[href*="www.baidu.com/baidu.php?"] + BR{display:none !important}
a[href*="www.baidu.com/baidu.php?"] + BR + FONT {display:none !important}

/* Taobao */
[href*="网购排行：淘宝网最新热门东西"]{display:none !important}
[src*="网购排行：淘宝网最新热门东西"]{display:none !important}
a[href*="http://click.mz.simba.taobao.com/"]{display:none !important}
a[href*="http://s.click.taobao.com"]{display:none !important}
A[href^="http://click.simba.taobao.com"]{display:none !important}
div[id="p4p-tabbed"],div[class="p4p-panel"][rel="p4p"],div[id="p4p-sidebar"],ul[class="p4p-list"]{display:none !important}

/* 广告和指向链接隐藏 */
iframe[name="ads_frame"],IFRAME[src="adb.php"],IFRAME[src="adt.php"] {
	display: none !important;
}

[src*=".adsame.com"],a[href*=".allyes.c"],a[href*=".mediav.com"],a[href*=".oadz.com"],a[href*="alimama.c"],
a[href*="doubleclick.net"],a[href*="googlesyndication.com"],a[href*="wrating.com"],iframe[src*="alimama.c"] {
	display: none !important;
}

IMG[src*="/a-d-s/"],a[href*="/adfclick?"],[href*="clickpromotion.php?"],a[href*="/guanggao"],
a[href*="/interface/cpm.php?"],IFRAME[src*="/interface/cpmblank.php?"],a[href*="/showavd.aspx?adid="]{
	display: none !important;
}


/* 163 */
A[href^="http://g.163.com/"],IMG[src^="http://img1.126.net/channel"] {
	display: none !important;
}

/* Sina */
[src*="http://pfp.sina.com.cn"] {
	display: none !important;
}

/* iFeng */
a[href*="sc.ifeng.com"],IFRAME[src*="http://sp.vcimg.com/"] {
	display: none !important;
}

/* Sohu */
a[href*="cpc.sogou.com"],a[href*="goto.sogou.com"],a[href*="ad-plus.cn"],
a[href*="http://images.sohu.com/bill/"],[src*="http://images.sohu.com/bill/"] {
	display: none !important;
}

/* Tencent QQ */
a[href*="adsfile.qq.com"],a[href*="l.qq.com/adsclick?"] {
	display: none !important;
}

/* Mop RenRen */
[src*="http://edm.renren.com"],
[src*="http://pub.mop.com"],IFRAME[src*="mopgg.mop.com"] {
	display: none !important;
}

[src*="http://g.crsky.com/ggao/"],[href*=".greendown.cn/ggao/"],[href*="ivy.pconline.com.cn"],
[src*="http://pic.zol-img.com.cn/201"],a[href*="ashow.pcpop.com"],IFRAME[src^="http://ashow.pcpop.com/"] {
	display: none !important;
}

[href*="http://ac.51job.com/phpAD/ad"],[href*="http://adrs.sdo.com"],a[href^="http://global.ard.yahoo.com/],
a[href^="http://rd.qihoo.com/out.html?u="],IFRAME[src^="http://www.izy.cn/php/banner_iframe.html?"],IFRAME[src^="http://www.facebook.com/plugins/like.php"] {
	display: none !important;
}

/* AD规则 */
div[class^=AD],div[id$="AD"],[id$="_ad"],
[id$="Ad"],[class$="Ad"],div[id^="ad_"],div[class^="ad_"] {
display: none !important;
	}
[class^="ads"],[id^="ads_"],[id$="Ads"],[class$="Ads"],
div[id$="Adv"],[class^="adv_"],[id^="adv_"] {
display: none !important;
	}
div[class*="AdBox"],div[class^="adbox"],a[id*="_adbox"],div[class^="ad-box"],
div[class^="adList"],ul[class^="adList"],div[class*="areaAd"],div[class^="adarea"]{
display: none !important;
	}
div[id^="adbn_"],div[class^="adFrame"],ul[class$="adBlue"],div[class^="block_ad"],
[class^="adNone"],[class$="adclass"],div[id="ads-bot"],div[id="ad-flash"]{
display: none !important;
	}
div[id*="0_AD_1"],div[id^="ad0"],div[id^="ad1"],div[class^="ad1"]{
display: none !important;
	}
div[class^="ad336"],div[class="ad660"],div[class^="ad680"],div[class^="ad728"],
div[class="ad750"],div[class="ad950"],div[class^="ad960"]{
display: none !important;
	}
div[class=ad],.rec_text,.aXd,.adinfo,#adcontent,#header_ads,table[class="header_gg"],
div[class="advertising"],div[class="ggarea clearfix"],div[class^="con_ad"],div[class^="bt_ad"]{
display: none !important;
	}
	
/* GG规则 */
[class^="colL gg"],[class^="l-gg"],div[class^="ggtop"],div[id="topgg"],
div[class^="ggAD"],div[class*="gg-"],div[class="ggjs"],[id^="gg"] {
display: none !important;
	}

/* 方位广告*/
[class*="top_ad"],div[id*="top_ad"],div[id*="AdTop"],div[class*="AdTop"],
div[id*="topAD"],div[class*="topAD"],div[id*="topad"],div[class*="topad"] {
display: none !important;
	}
div[class*="AdRight"],div[class*="RightAD"]{display:none !important}
div[id*="AdRight"],[id*="ightAd"],[id*="ad_right"],
DIV[class="rAD"],div[id="rAD"],div[class="rAd_img"],
[class*="rightad"],[id*="rightad"],[class*="right_ad"] {
display: none !important;
	}
[class*="left_ad"],[id*="left_ad"],[class*="leftad"],[id*="leftad"],
[class*="pic_ad"],[id*="pic_ad"] {
display: none !important;
	}
div[class="left"][id^="ad"],
div[class="right"][id^="ad"] {
display: none !important;
	}

/* Banner & 图片广告*/
div[id^="banner0"],div[id^="banner1"],div[class="banner"][id^="banner"],div[class$="anner"][id^="ad"],div[class*="topBanner"]
div[id$="banner_left"],div[id$="banner_right"],div[id$="top_banner"],[id$="right_banner"],[id$="left_banner"] {
display: none !important;
	}
div[id^="AD"][style*="w"],img[id^="ad"],img[src$="_ad.jpg"]{display: none !important;}

/* Flash 广告*/
[id*="_flash_click_"],[id*="Adflash"],[id*="FLASH_AD"],
[id*="flash_ad"],[id*="flashad"],div[class^="flashbanner"] {
display: none !important;
	}
div[class^="richMedia],div[id^="AdLayer"],div[id^="StreamMediaWrap"] {display: none !important;}

/* 文字广告 */
div[class^="adtext"],[id^="adText"],div[class*="ad_text"],[id*="ad_text"],
[class*="textad"],[class*="TextAd"],[id^="text_ad"],[class*="word_ad"]{
display: none !important;
	}
div[class^="adtxt"],div[class^="adTxt"],div[class*="padd_t"],div[id^="adwords"],
div[class$="turn_ad"],ul[class="ad_doc_text"] {
display: none !important;
	}

/* 论坛广告和外链 */
div[class="a_pb"],div[class="a_pr"],div[class="a_pt"],
div[class="a_b"],div[class="a_mu"],div[class^="a_f"]{
display: none !important;
	}
td[class="plc plm"],DIV[class="mbm cl"],div[class="bm a_c"],div[class^="wp a_"]{
display: none !important;
	}
div[id^="thread_ads_"],.forumimglink,.forumlinks,.forumtxtlink {display: none !important;}
/* 签名过滤 */
[class^="signature"],.sign,.postertext{display: none !important;}
/* 论坛浮动过滤 */
#bshareF,#ckepop,#fixedLayertop,#sitefocus,.QQbox{display: none !important;}

/* 浮动 弹窗广告 */
div[id^="p4pblock"],span[id^="ad_"],span[id="tmpMsgDiv"],span[class="close"],span[id="urlup"],span[id="afterurl"] {display: none !important;}
div[class*="focus"][id$="focus"],div[id="popup"][style*="display:"],div[class$="-floatgg"],
DIV[id^="popupWin"],div[id^="popWin"],div[id="PopWindow"] {
display: none !important;
	}
div[id="popup"][class="t"],div[class^="ad"][id^="div"],span[id*="adsense"],div[id^="Float"],
div[id$="adshow"],div[id^="pf_ad"],[id^="iframeAd"] {
display: none !important;
	}

div[id^="followDiv"],div[id^="kxsoMovie"],div[id^="pop_container_],div[id^="_QQPopDIV"] {display: none !important;}
#adZljcRightBottomDiv,#bbsPOPFrame,#feedback-box,#msg-faq{display: none !important;}
#paypopupScriptDiv,#qqaddiv,#ShowQQ,#SlipLay,#ty_msg_box{display: none !important;}

/* 各种提示隐藏 */
#browse_popularize,#tips_qihoo,#tg_qq,#_tc_browser_promotion,#mbCarduserNotLogin,#mentionTip,#popTudouVA,
[id*="sogou_se"],div[class="upgrade_your_browser"],DIV[class="fblike_button"],div[class="webgame_list"] {
display: none !important;
	}

/* 广告框架过滤 */
a[href^="http://cnrdn.com/"][target="_blank"]{display:none !important}
TD[width="50%"][align="center"]{display: none !important;}
TD[width="960"][height="90"][align="center"]{display: none !important;}
ARTICLE>div[class^="ad"],div[align="center"][id^="ad"]{
display: none !important;
	}

/* 部分站点广告 */
div[class="ruanw box"],div[class="xfl_out"][id="xfl_out"],div[class^="tingx_"],
div[class="bannerleft"],div[id="zolFloat"],img[id$="_pvm],a[class="ytbtn"]{
display: none !important;
	}
sohuadcode {display:none !important}
div[id="sp"],LI[id="sp"]{display: none !important;}
DIV[class^="content ad-b"]{display:none !important}
DIV[class="newslist"]>DL>DD[class="detail"]>EM{display:none !important}
div[class="btmad"][id^="adsp_content_banner_"],div[id="couplet_left_NULL"],div[id="couplet_right_NULL"]{display:none !important}
div[class="bp-popup"][id="J_popup"]{display:none !important}
div[class*="qiye-Article-QQ"],div[class*="business-Article-QQ"],div[id="deerway"],div[id="klw_ent"],div[class*="l_qq_com"]{display:none !important}
span[id="StreamMediaWrap"]{display:none !important}
div[class^="cl970"],div[class^="cl760"]{display:none !important}
