@charset "utf-8";
@namespace url(http://www.w3.org/1999/xhtml);

/*
Name: /广告过滤
Version: 3.03
Author: KwokTree
Description: MayBe a better User CSS Hide AD.
*/

/* AD规则 */
div[class^=AD],div[id$="AD"],[id$="_ad"],
[id$="Ad"],[class$="Ad"],div[id^="ad_"],div[class^="ad_"] {
display: none !important;
	}
[class^="ads"],[id^="ads_"],[id$="Ads"],[class$="Ads"],
div[id$="Adv"],[class^="adv_"],[id^="adv_"],div[class="adv"]{
display: none !important;
	}
div[class*="AdBox"],div[class^="adbox"],a[id*="_adbox"],div[class^="ad-box"],
div[class^="adList"],ul[class^="adList"],div[class*="areaAd"],div[class^="adarea"]{
display: none !important;
	}
div[id*="0_AD_1"],div[id^="ad0"],div[id^="ad1"],div[class^="ad1"],
div[id^="AD4"],div[id^="AD5"] {
display: none !important;
	}
div[class^="ad336"],div[class="ad660"],div[class^="ad680"],div[class^="ad728"],
div[class="ad750"],div[class^="ad760"],div[class="ad950"],div[class^="ad960"]{
display: none !important;
	}
div[id^="AdLayer"],div[class^="advlist"],div[class^="adFrame"],div[class^="block_ad"],
div[class^="bt_ad"],div[class^="con_ad"],[class^="adNone"],[class$="adclass"]{
display: none !important;
	}
div[class=ad],div[class="aXd"],div[class="ad-bar"],div[class="adinfo"],
div[class="advdiv"],div[class="advertising"],div[class="yourad"]{
display: none !important;
	}
div[id^="adbn_"],ul[class$="adBlue"],div[class="rec_text"],div[id="header_ads"],
div[id="ad-flash"],div[id="adcontent"],div[id="ads-bot"],div[id="particular_ad"]{
display: none !important;
	}

/* GG */
[class^="colL gg"],[class^="l-gg"],div[class^="ggtop"],div[id="topgg"],
div[class^="ggAD"],div[class*="gg-"],div[class="ggjs"],[id^="gg"] {
display: none !important;
	}
div[class$="-gg"],div[class$="guanggao"],div[class="ggarea clearfix"],table[class="header_gg"],
div[id="hdggs"] {
display: none !important;
	}

div[id^="sponsored"],iframe[id^="sponsored"] {display:none;}

/* 方位广告*/
[class*="top_ad"],div[id*="top_ad"],div[id*="AdTop"],div[class*="AdTop"],
div[id*="topAD"],div[class*="topAD"],div[id*="topad"],div[class*="topad"] {
display: none !important;
	}
div[id="topmad"],span[id="zjtop"]{display:none;}

div[class*="AdRight"],div[class*="RightAD"],div[id*="AdRight"],[id*="ightAd"],
[id*="ad_right"],[class*="rightad"],[id*="rightad"],[class*="right_ad"] {
display: none !important;
	}
DIV[class="rAD"],div[id="rAD"],div[class="rAd_img"],div[class="adrr"] {
display: none !important;
	}
[class*="left_ad"],[id*="left_ad"],[class*="leftad"],[id*="leftad"],
[class*="pic_ad"],[id*="pic_ad"] {
display: none !important;
	}
div[class="left"][id^="ad"],div[class="adll"],
div[class="right"][id^="ad"] {
display: none !important;
	}

/* Banner & 图片广告*/
div[id^="banner0"],div[id^="banner1"],div[class="banner"][id^="banner"],div[class$="anner"][id^="ad"],div[class*="topBanner"]
div[id$="banner_left"],div[id$="banner_right"],div[id$="top_banner"],[id$="right_banner"],[id$="left_banner"] {
display: none !important;
	}
div[id^="AD"][style*="w"],div[class^="ad-banner"]{display: none !important;}
img[class="ad"],img[id^="ad"],img[src$="_ad.jpg"]{display: none !important;}
img[alt$="告"]{display: none !important;}

/* Flash 广告*/
[id*="_flash_click_"],[id*="Adflash"],[id*="FLASH_AD"],
[id*="flash_ad"],[id*="flashad"],div[class^="flashbanner"] {
display: none !important;
	}
div[class^="richMedia],div[id^="AdLayer"],div[id^="StreamMediaWrap"] {display: none !important;}

/* 文字广告 */
div[class^="adtext"],[id^="adText"],div[class*="ad_text"],[id*="ad_text"],
div[class^="adtxt"],div[class^="adTxt"],DIV[class*="ad-text"],div[id*="textad"]{
display: none !important;
	}
[class*="textad"],[class*="TextAd"],[id^="text_ad"],[class*="word_ad"],
div[class*="padd_t"],div[id^="adwords"],div[class$="turn_ad"] {
display: none !important;
	}
ul[class="ad_doc_text"]{display: none !important;}

/* 论坛广告和外链 */
div[class="a_pb"],div[class="a_pr"],div[class="a_pt"],
div[class="a_b"],div[class="a_mu"],div[class^="a_f"]{
display: none !important;
	}
DIV[class="mbm cl"],div[class="bm a_c"],div[class^="wp a_"]{
display: none !important;
	}
div[id^="thread_ads_"],.forumimglink,.forumlinks,.forumtxtlink {display: none !important;}
div[style^="clear:both;margin:"],div[style^="position:relative;padding:"] { display:none !important }
/* 签名过滤 */
div[class^="sign0"],[class*="signature"],.sign,.postertext{display: none !important;}
/* 论坛浮动过滤 */
#bshareF,#ckepop,#fixedLayertop,#sitefocus,.QQbox{display: none !important;}

/* 浮动 弹窗广告 */
span[id="StreamMediaWrap"]{display:none !important}
span[class="ad"],span[id^="ad_"],span[class$="adv"],span[class="close"],
span[id*="adsense"],span[id="afterurl"],span[id="urlup"],span[id="tmpMsgDiv"] {
display: none !important;
	}

div[class="bp-popup"][id="J_popup"]{display:none !important}
div[id^="popWin"],DIV[id^="popupWin"],div[id^="pop_container_],div[id="PopWindow"],
div[id="popup"][style*="display:"],div[id="popup"][class="t"],div[id="bbsPOPFrame"],div[id^="_QQPopDIV"]{
display: none !important;
	}
div[id="browse_popularize"],div[id="paypopupScriptDiv"],div[id="popTudouVA"],div[id^="p4pblock"],
div[id^="couplet3_"],div[id^="dotopAlert"],div[id^="yw__on_"],div[class^="flwin flwin"]{
display: none !important;
	}
	
div[class$="-floatgg"],div[id^="Float"],div[id$="Float"],div[id^="floatAdv"],
div[id$="Float"],[class^="ad_float"]{
display: none !important;
	}

div[class^="ad"][id^="div"],div[id^="pf_ad"],div[id$="adshow"],[id^="iframeAd"],
a[class$="CloseX"],div[id="tikionly"],div[id^="followDiv"],div[id^="kxsoMovie"]{
display: none !important;
	}
.qqbox,#divQQbox,#adZljcRightBottomDiv,#feedback-box,
#msg-faq,#dnDownloadProgress,#qqaddiv,#ShowQQ{
display: none !important;
	}
div[id^="Cnxad"],#SlipLay,#ty_msg_box{display: none !important;}

/* 各种提示隐藏 */
#tips_qihoo,#tg_qq,#_tc_browser_promotion,#mbCarduserNotLogin,#mentionTip,#myproterodivctget{display: none !important;}
div[id="baidu_tip"],[id*="sogou_se"],div[class="upgrade_your_browser"],div[class="webgame_list"] {
display: none !important;
	}

DIV[class="fblike_button"],#fb_like,#fb_plugin,div.like_it_frame, 
iframe[src^="http://www.facebook.com"] {display:none !important;}

/* 广告框架过滤 */
a[href^="http://cnrdn.com/"][target="_blank"]{display:none !important}
TD[width="50%"][align="center"]{display: none !important;}
TD[width="960"][height="90"][align="center"]{display: none !important;}
ARTICLE>div[class^="ad"],div[align="center"][id^="ad"]{
display: none !important;
	}

/* 部分站点广告 */
div[class="ruanw box"],div[class="xfl_out"][id="xfl_out"],div[class^="tingx_"],
div[class="bannerleft"],img[id$="_pvm],a[class="ytbtn"]{
display: none !important;
	}
sohuadcode {display:none !important}
div[id="sp"],LI[id="sp"]{display: none !important;}
DIV[class^="content ad-b"]{display:none !important}
DIV[class="newslist"]>DL>DD[class="detail"]>EM{display:none !important}
div[class="btmad"][id^="adsp_content_banner_"],div[id="couplet_left_NULL"],div[id="couplet_right_NULL"]{display:none !important}
div[class*="qiye-Article-QQ"],div[class*="business-Article-QQ"],div[id="deerway"],div[id="klw_ent"],div[class*="l_qq_com"]{display:none !important}
div[class^="cl970"],div[class^="cl760"]{display:none !important}
div[class="sleekadbubble section squareBrowsead ch"]{display:none !important}

/*受影响的过滤元素整理排除
/* 已删除备份
.box ,影响dbank首页显示（未登录情况下）
div[class^="a_p"],http://www.anzhuo.cn/thread-134443-1-1.html 帖子内容在加载翻页js时无法正常显示
.postbit_adcode,#adbottom,#GoogleAd,#footerStuff 
div[id="online"][class="bm oll"],div[id="category_lk"][class="bm_c ptm"]
div[class$="AD"], http://www.macmillandictionary.com/dictionary/british/tree 发音部分
a[href*="/adclick.php?"], googleplus网页显示不全
[id*="-popup"],http://mb.qq.com/s60v2v3 弹出下载框
[class$="_ad"],cctv视频播放已改版
table[border="0"][cellpadding="0"][cellspacing="0"][width="100%"][align="center"],部分页面的主要内容和主要广告
div[id$="TopAD"],div[class$="TopAD"]
div[class="text"][id^="text"],环球网网页面内容
div[class="links"],网易邮箱右上角链接
iframe[id*="ad"],网易邮箱邮件页面
[class*="-popup"],淘宝网聚划算登录
[id*="_popup"],百度空间登陆迟缓
IFRAME[src="about:blank"],淘宝机票弹出页面显示层
div[class^="ad"],凤凰网部分视频
IMG[src^="http://img.ifeng.com/tres/"],凤凰网logo
[class*="popup"],人人网分享预览
div[id*="float"],div[class*="float"],论坛登录页面层
#focus,youku音乐焦点
div[class^="ad"],#hiddenlpsubmitdiv, bbs.ngacn.cc
div[class$="-banner"],www.ipc.me
[id^="ad"],div[class^="banner_"],[id^="banner"],verycd
[id$="ads"],hk.yahoo.com https://i.doit.im/download 下载页面显示问题
div[id^="AD"],cnbeta
div[id$="ad"],[id$="ad"], 深度论坛 */
*/
