@charset "utf-8";
/*
Name: 护眼灰
Description: Eye Protection CSS - Grey.
*/

div[id^="footer"]{display:none !important}
body,table,tbody,td,th,tr {background-color:#C9C9C9 !important;}
body>div {background-color:transparent;}
p,div,span,h1,h2,h3,h4,h5,h6,font {color: #0b3b8c !important;}
textarea, input {background-color: #edebe8 !important;}
html,body{background: none #C9C9C9 !important}

