@charset "utf-8";
@namespace url(http://www.w3.org/1999/xhtml);

/*
Name: 护眼绿
Version: 1.12
Author: vokins
Description: Eye protection CSS.
*/

font[color*="FAE"]{display:none !important}
div[id^="footer"],td[id^="adp_jjwxc_"]{display:none !important}
body,table,tbody,td,th,tr {background-color:#CCE8CF !important;}
body>div   {background-color:transparent;}
p,div,span,h1,h2,h3,h4,h5,h6,font {color: #0b3b8c !important;}
textarea, input {background-color: #ECF2E8 !important;}
HTML,BODY{background: none #CCE8CF !important}
