@charset "utf-8";
/*
Name: 护眼绿
Description: Eye Protection CSS - Green.
*/

div[id^="footer"]{display:none !important}
body,table,tbody,td,th,tr {background-color:#CCE8CF !important;}
body>div {background-color:transparent;}
p,div,span,h1,h2,h3,h4,h5,h6,font {color: #0b3b8c !important;}
textarea, input {background-color: #ECF2E8 !important;}
html,body{background: none #CCE8CF !important}
