@charset "utf-8";
@namespace url(http://www.w3.org/1999/xhtml);

/*
Name: /广告过滤
Version: 4.18
Author: KwokTree.googlecode.com
Description: MayBe a better User CSS Help U.
*/

/* ADvertisment */
div[class="ad"],div[class^="ad1"],div[class^="ad2"],div[class^="ad_"],
div[class^="AD"],div[class^="ads"],div[class$="_ads"],div[class*="_ads"]{
display: none !important;
	}
div[class^="ad3"],div[class^="ad4"],div[class^="ad5"],div[class^="ad6"],
div[class^="ad7"],div[class^="ad8"],div[class^="ad9"],div[class^="ad0"]{
display: none !important;
	}
div[class="adv"],div[class="advp"],div[class^="adj"],div[class^="adx"],div[class="adbanner"],
div[class^="adarea"],div[class^="adArea"],div[class^="adList"],div[class^="adlist"]{
display: none !important;
	}
div[class="ad-bar"],div[class="ad-button"],div[class^="ad-block"],div[class$="ad_block"],
div[id="ad-flash"],div[class^="ad-box"],div[class^="adbox"],div[class^="ad_box"]{
display: none !important;
	}
div[id$="AD"],div[id^="ad-"],div[id^="ad_"],div[id$="Adv"],div[id^="adv_"],div[id*="-ad-"],
div[id*="-ads-"],div[id^="ads-"],div[id^="ads_"],div[id$="_ads"],div[id="ADAREA"]{
display: none !important;
	}
div[align="center"][id^="ad"],div[id^="AD"][style*="w"],center>div[id^="AD"],[id$="Ad"],div[id*="0_AD_"],
div[id^="adhere"],div[id^="adspot"],div[id^="AdZone"],div[id^="afp_"],div[id*="AdContainer"]{
display: none !important;
	}
div[class$="adclass"],div[class^="adclass"],div[class^="adBlk ad"],div[class*="adWrapper"],
div[class^="adFrame"],div[class^="adindex"],div[class^="adposter"],div[class^="adset_"]{
display: none !important;
	}
div[class="business"],div[class="flashNews"],div[class^="other_adv"],
div[id="clickbg"],div[id*="allyesAdv"],div[id="push-down-ad"]{
display: none !important;
	}

/* Position AD */
div[class="ada"],div[class*="AdTop-"],div[class="ad_top"],div[class="tad"],div[class^="topAD"],
div[class^="topAd"],div[class^="topad"],div[class^="top_ad"],div[class$="topa_d"]{
display: none !important;
	}
div[class^="nav-ad"],div[id$="head_ad"],div[id="adTop"],div[id="navads"],
div[id="toplink"],div[id="topmad"],div[id^="topad"]{
display: none !important;
	}
div[id^="AdRight"],div[class^="rightad"],div[id$="rightad"],div[class="RightAD"],div[class="adrr"],
div[class="adll"],div[class^="footad"],div[id^="pad_"]{
display: none !important;
	}
div[id="adDiv"],div[id="adsmid"],div[id="particular_ad"],div[id^="pic_ad"],
div[class^="img-ad"],div[class="boxad"],div[class="showad"],div[class="yourad"]{
display: none !important;
	}

/* GG */
div[class^="gg_"],div[class*="gg-"],div[class^="gg3"],ul[class^="gg"],div[class$="-gg"],
span[class^="gg"],div[class^="ggAD"]{
display: none !important;
	}
div[class="ggarea clearfix"],table[class="header_gg"],div[class$="guanggao"],div[id="hdggs"],
div[id^="gg"][style$="px"]{
display: none !important;
	}

/* Banner & Flash & Word AD*/
div[id^="banner0"],div[id^="banner1"],div[class^="banner2"],div[class^="banner7"],div[class^="banner9"],div[id="bannerPanel"],
div[class*="topBanner"],div[class="topbanner"],div[class*="ad-banner"],div[class$="anner"][id^="ad"],div[class="banner"][id^="banner"]{
display: none !important;
	}
div[id^="adword"],div[class^="adword"],div[class="ad-text"],div[class^="adtxt"],
div[class^="txtads"],div[id^="text_ad"],div[class="textMes"],ul[class="ad_doc_text"]{
display: none !important;
	}
td[id^="adp_"],td[class="adslot"],,td[class="ad"],
tr[class="ad"],tr[class^="ad_"],p[class="ad"],a[id*="_adbox"]{
display: none !important;
	}
table[class="adbottom"],table[class="adNone"],table[id="ShowAD"],span[id^="ad_"],
span[class="adlink"],span[id="baidu"],span[id="idc"],span[id="zjtop"],span[class="bdad"],span[id^="ptcmsad"]{
display: none !important;
	}
img[id^="ad"],img[class="ad"],img[class$="_ad"],img[src$="_ad.jpg"],img[alt$="告"]{
display: none !important;
	}
ul[class="ad"],ul[class*="_ad"],ul[id*="listAD"],ul[class*="textad"],
ul[id="ad_container"],ul[class="AD-txt"],ul[class="res-list"]{
display: none !important;
	}

/* 论坛广告和外链 */
font[class="jammer"],span[style="display:none"],span[style="font-size: 0pt"]{display: none;}
font[size="1"],fieldset[style*=”:1px dashed“]{display:none !important}
div[class="tac mb5"],td[class="f_one black tac"],div[class^="wp a_"]{display: none !important;}
div[class$="a_cb"],div[class^="a_f"],div[class="a_b"],div[class="a_mu"],
div[class="a_pb"],div[class="a_pr"],div[class="a_pt"],div[class="bm a_c"]{
display: none !important;
	}
/* 论坛签名 */
div[class^="sign0"],div[class^="sign"][style*="px;"],div[id^="sig"][class="signature"],div[class="signature_wrap"],
td[class$="signature"],div[class="d_sign_split"],img[onerror="Page.sign_change_img(this)"]{
display: none !important;
	}
/* 去除Discuz!标签的下边框 */
.t_tag { border-bottom-style: none !important; }
*[href*="tag.php?name="],.t_tag{border:none !important;}

/* Discuz! 版头规则中的图片 */
div#tab_c_2.rule img {display: none !important;}
div#tab_c_2.rule a img {display: inline !important;}
div[id^="forum_rules"] img {display: none !important;}
div[id^="forum_rules"] a img {display: inline !important;}

/* 网页隐藏文字和链接过滤 */
font[style*="font-size:0p"]{display:none !important}
font[style*="font-size: 0p"]{display:none !important}
SPAN[class="transparent"]{display: none !important;}
/* 四月天 */
font[color="#EFF0EB"][style^="color:"]{display:none !important}
/* 晋江原创 */
font[color*="FAE"]{display:none !important}

/* 浮动过滤 */
embed[name^="couplet"],div[id^="Float"]>div[id^="AD"],div[id^="Float"]>div,div[class^="adFloat"]{display: none !important;}
#bbs_jxtj,#bshareF,#fixedLayertop,#sitefocus,.QQbox{display: none !important;}

/* Google */
div[class="c"][id="tads"],[id*="adsense"],[href*="pagead"],[src*="pagead"],div[id="rhs_block"],ol[onmouseover="return true"]{display:none !important}
/* FaceBook */
div[class="fblike_button"],#fb_like,#fb_plugin,div.like_it_frame,iframe[src^="http://www.facebook.com"],a[href^="http://www.facebook.com/"][target="_blank"] {display:none !important;}
/* Baidu */
a[href*="www.baidu.com/baidu.php?"],a[href^="http://www.baidu.com/adrc.php"]{display:none !important}

/* Taobao */
[src*="网购排行：淘宝网最新热门东西"],[href*="网购排行：淘宝网最新热门东西"]{display:none !important}
a[href^="http://click.simba.taobao.com"],a[href*="http://click.mz.simba.taobao.com/"],a[href*="http://s.click.taobao.com"]{display:none !important}
div[id="p4p-tabbed"],div[class="p4p-panel"][rel="p4p"],div[id="p4p-sidebar"],section[class="hotsale"],ul[class="p4p-list"]{display:none !important}

/* 框架过滤 */
div[class="tabcontent"],iframe[name="ads_frame"],iframe[src="adt.php"],iframe[src="adb.php"]{display: none !important;}
a[href*="http://.allyes.com/"],a[href*="http://cnrdn.com/"][target="_blank"]{display:none !important}

/* 浮动广告过滤 */
div[id="qqaddiva"],div[id="ShowQQ"],div[id="popupWin"],div[id="box"][style^="display: block;"],div[id^="_CNZZ_SEARCH"]{display:none !important}

/* 各种提示隐藏 */
div[class="tips_player"],div[id="browse_popularize"]{display:none !important}

/* 部分站点广告 */
sohuadcode {display:none !important}
div[class^="aa_"][id^="gg"],div[id^="b"][class^="cl970"],div[style="margin:0 0 10px 0;height:170px;padding-top:10px;border-top:1px solid #cdcdcd;"]{display:none !important}
div[class$="ad mt10"],div[class="nei"],div[style$="#d0dae4;"][class="wp"]{display:none !important}
div[id^="ifengAe"],div[id*="_flash_click_"],div[class="block_ad"],div[id^="tianyaBrandSpan"],div[id="tj_top_div"]{display:none !important}
div[class="newslist"]>dl>dd[class="detail"]>em,div[class^="content ad-"],div[id="sp"],LI[id="sp"]{display:none !important}
div[class*="l_qq_com"],div[class*="qiye-Article-QQ"],div[class*="business-Article-QQ"],embed[name="flash_focus"],div[id="followall_mod"]{display:none !important}
div[class="sleekadbubble section squareBrowsead ch"]{display:none !important}
