@charset "utf-8";
@namespace url(http://www.w3.org/1999/xhtml);

/*
Name: /广告过滤
Version: 5.0.2.9
Author: KwokTree
Url: http://hostsx.googlecode.com/svn/trunk/Opera/Custom.css
Lastchage: 12:09 2013/2/10
Description: MayBe a better User CSS Help U.
*/

/* ADvertisment */
div[class^="ad1"],div[class^="ad2"],div[class^="ad3"],div[class^="ad4"],div[class^="ad5"],
div[class^="ad6"],div[class^="ad7"],div[class^="ad8"],div[class^="ad9"],div[class^="ad-9"]{
display: none !important;
	}
div[class^="adA"],div[class^="adB"],div[class^="adb"],div[class^="adj"],
div[class^="ads"],div[class^="adS"],div[class^="adv"],div[class^="adx"],div[class^="adimg"]{
display: none !important;
	}
div[class="ad"],div[class^="ad_"],div[class$="_ads"],div[class$="_ad"][id$="_ad"],div[class$="-ad "],
div[class*="-ad-"],div[class^="ad ad-"],div[class*="-ad ad"],div[class*="_ad_img"],div[class$="-ad"]{
display: none !important;
	}
div[class$="ad_block"],div[class*=" adspace"],div[class*="adclass"],div[class^="adFrame"],div[class^="adSpace"],
div[class^="adList"],div[class^="adlist"],div[class^="adindex"],div[class^="ades"],div[class*="-ads "]{
display: none !important;
	}
div[class^="ad-txt"],div[class^="ad-img"],div[class^="ad-b"],div[class^="ad-2"],div[class="hottxt"],
div[class="ad-widget"],div[class^="ad-text"],div[class^="adtext"]{
display: none !important;
	}
div[class^="ada"],div[class^="adc"],div[class^="adbox"],div[class$="_adpic"],div[class^="adarea"],
div[class*="cvAd"],div[class$="Ad"],div[class="business"],div[class^="myadv_"],div[class^="ecomlit"]{
display: none !important;
	}

div[id^="ad0"],div[id^="ad1"],div[id^="ad2"],div[id^="ad3"],div[id^="ad4"],
div[id^="ad5"],div[id^="ad6"],div[id^="ad7"],div[id^="ad8"]{
display: none !important;
	}
div[id^="adv"],div[id^="Adv"],div[id^="ADV_"],div[id$="Adv"],div[id$="adpic"],
div[id^="ads_"],div[id^="ads-"],div[id*="-ads-"],div[id$="_ads"]{
display: none !important;
	}
div[id="ad"],div[id^="ad_"],div[id$="-ad"],div[id$="-ads"],div[id^="ad-"][class="ad"],
div[id*="-ad-"],div[id*="0_AD_"],div[id^="Ads_"],div[id^="afp_"],div[id*="advert"]{
display: none !important;
	}
div[id^="adList"],div[id^="adlist"],div[id^="adSp"],div[id^="adcontent"],div[id^="adhere"],
div[id="adwrap"],div[id^="adspot"],div[id^="adver"],div[id^="pad_"],div[id="pa_ad"]{
display: none !important;
	}
div[id="adDiv"],div[id*="AdContainer"],div[id*="AdWrapper"],div[id*="YieldManager"],
div[id="adsmid"],div[id^="ADAREA"],div[id^="AdZone"],div[id^="AdsCont"],div[id^="pushAd_"]{
display: none !important;
	}

/* GG */
div[class="gg"],div[class="ggs"],div[class^="gg_"],div[class*="gg-"],div[class^="topgg"],div[class="ggBanner"],div[class="gghot"],
div[class="gg01"],div[class^="gg2"],div[class^="gg3"],div[class^="ggAD"],div[class="ggSideBox"],div[class="sidegg"]{
display: none !important;
	}
div[class^="ggarea"],[class$="header_gg"],div[id="hdggs"],div[id="top_gg"],div[class*="top-gg-"],div[class^="ggblock"],
div[class$="guanggao"],div[id^="guanggao_"],div[id^="gg"][style$="px"],div[class^="aa_"][id^="gg"]{
display: none !important;
	}

/* Position AD */
div[class*="topad"],div[class^="topAD"],div[class^="topAd"],div[class$="topa_d"],div[class^="top_ad"],div[class="adDingT"],
div[id*="TopAD"],div[id^="TopAd"],div[id^="topAD"],div[id^="topad"],div[id*="top_ad"],div[id*="-top-ad"],div[class^="tonglan"]{
display: none !important;
	}
div[class^="nav-ad"],div[class^="ndadv"],div[class*="-top-ads"],div[class^="adtop"],div[class*="AdTop-"],div[id^="couplet"],div[id="CoupletDiv"],
div[class^="navad"],div[id^="navad"],div[id="topmad"],div[id="toplink"],div[id="adTop"],div[id$="head_ad"]{
display: none !important;
	}
div[class="adll"],div[class^="adLeft"],div[id^="LeftAd"],div[id$="eftDiv"],div[id^="LeftBottom"],div[id="leftdiv"],
div[class="adrr"],div[class^="adRight"],div[id^="RightAd"],div[id$="ightDiv"],div[id^="RightBottom"],div[id="rightdiv"]{
display: none !important;
	}
div[id="leftsp"],div[id^="ad-right"],div[id^="rightAd"],div[id$="rightad"],div[id^="AdRight"],div[id$="tCoupletId"],div[id^="followDiv"],
div[id="rightsp"],div[id^="ad-left"],div[id^="ad_right"],div[class^="RightAD"],div[class^="rightad"],div[class*="_right_side"],div[class*=" video-couplet-"]{
display: none !important;
	}
div[class^="Indexad"],div[class*="inner_ad"],div[class^="double_ad"],div[class^="footad"],
div[class^="ATopTxt"],div[class="imgad"],div[class^="img-ad"],div[class^="other_adv"],div[class="tad"]{
display: none !important;
	}
div[id$="_BOXAD"],div[id*="ContentAd"],div[id^="HeaderAd"],div[id*="_column_ad"],div[class="innerad"],
div[id^="footer"],div[id="particular_ad"],div[id="push-down-ad"],div[id^="duilain"]{
display: none !important;
	}
div[id^="BANNER_"],div[id="clickbg"],div[id="prombar"],div[id="splink"],div[id="link"],div[id^="insidead"],
div[id="baidu"],div[id^="pic_ad"],div[id^="dale_online_"],div[id^="extradiv"],div[id="sp"]{
display: none !important;
	}

td[id^="adp_"],td[id^="jjwxc_onebook"],td[class="adslot"],td[class="ad"],td[class="readads"],dl[id^="ad0"],dl[class="top_ad"],
tr[class="ad"],tr[class^="ad_"],p[class="ad"],p[id="ad_corner_close"],p[class^="ad_details"]{
display: none !important;
	}
table[class="adbottom"],table[class^="adNone"],table[id="ShowAD"],table[class="sp_block"],
table[class="advtable"],table[class="ad-in-entry"],table[summary="Text Ad"]{
display: none !important;
	}
img[id^="ad"],img[class="ad"],img[class$="adimg"],img[class$="_ad"],
img[src$="_ad.jpg"],img[alt^="广告"],img[alt="click"]{
display: none !important;
	}
span[class^="gg"],span[class="adlink"],span[class="bdad"],span[class^="ads_"],span[class^="blank"],
span[id*="_ad_"],span[id^="ad_"],span[id^="ptcmsad"],span[class*="AdWrapper"],
span[id="FullScreenWrap"],span[id="StreamMediaWrap"],span[id="idc"],span[id="zjtop"]{
display: none !important;
	}
ul[class="ad"],ul[class^="ad_"],ul[class*="_ad"],ul[class^="gg"],ul[class="AD-txt"],
ul[class="adwindow"],ul[class="res-list"],ul[id*="listAD"],ul[id="ad_container"]{
display: none !important;
	}
aside[class="advertisement"],aside[class^="p_sider hgt"],aside[class="adArea"],a[id*="_adbox"],a[class^="ad-img-"],
dd[id^="AdTop"],embed[id^="_AD"],[name^="ad_page"],LI[id="sp"],li[class="leftad"],li[class="rightad"]{
display: none !important;
	}

/* Banner & Flash & Word AD*/
div[id*="adflash"],div[id*="ad-flash"],div[id*="flash_click_"],div[id="flashbanner"],div[id="player_ad"],div[class="DaKuang"],
div[class="flashNews"],object[id^="_AD"],object[id*="flashad"],object[class*="ad_falsh"],embed[id^="ad_flash"],embed[name="flash_focus"]{
display: none !important;
	}
div[class*="ad-banner"],div[class="banner"]>dl,div[class^="bigbanner"][id^="bigbanner"],
div[class="banner"][id^="adsp_content"],div[class="banner"][id^="banner"]{
display: none !important;
	}
div[class^="banner-"],div[class^="banner2"],div[class^="banner7"],div[class^="banner9"],
div[id^="banner0"],div[id^="banner1"],div[id^="BannerAd"],div[id$="AdBanner"],div[id="bannerPanel"]{
display: none !important;
	}
div[class^="txt_ad"],[class*="textad"],div[class="con_ad"],div[class^="adtxt"],div[class*="sponsor"],
div[id^="adText"],div[id^="text-ad"],div[id^="text_ad"],div[id*="Sponsor"]{
display: none !important;
	}

/* 论坛广告和外链 */
div[class="a_pt"]>a>img[src*="/data/attachment/forum/"]{display:none !important}
div[class$="a_cb"],div[class^="a_f"],div[class^="wp a_"],div[id="wrap"]>div[class="focus"][id="focus"],div[class="focus"][id="sitefocus"]{display: none !important;}
div[class="a_b"],div[class="a_mu"],div[class="a_pb"],div[class="a_pr"],
div[class="bm a_c"],div[class="tac mb5"],td[class="f_one black tac"]{
display: none !important;
	}
/* 去除Discuz!标签的下边框 */
.t_tag { border-bottom-style: none !important; }
*[href*="tag.php?name="],.t_tag{border:none !important;}

/* 各种签名 */
div[class^="sign"][style*="px;"],div[class^="sign0"],div[class="sigline"],div[class^="sign mx"],div[class^="signature"],
td[class$="signature"],div[class="d_sign_split"],img[onerror="Page.sign_change_img(this)"]{
display: none !important;
	}

/* 网页隐藏文字和链接框架过滤 font[size="1"], */
font[style*="font-size:0p"],font[style*="font-size: 0p"],font[class="jammer"],
span[style="font-size: 0pt"],span[style="display:none"],SPAN[class="transparent"],span[class="nddailyhfiled"]{
display: none !important;
	}
font[color="#FFFFFF"],fieldset[style*=":1px dashed"],p[class="Wtz196"],font[color="#EFF0EB"][style^="color:"],
font[color*="FAE"],font[style="font-size:10px;color:#b4b4b4"]{
display: none !important;
	}
iframe[src*="/ad/"]{display:none;}
IMG[src*="/a-d-s/"],iframe[src="adb.php"],iframe[src="adt.php"],iframe[src*="/interface/cpmblank.php?"],div[class="tg"],div[class*=" top-tg"],
iframe[class="ad_iframe"],iframe[id^="ads_"],iframe[id$="_tuiguang"],iframe[id^="dale_m"],iframe[name="ads_frame"],iframe[src*="http://g.163.com/"]{
display: none !important;
	}
a[href*="/adfclick?"],a[href*="/guanggao"],a[href*="/interface/cpm.php?"],[href*="clickpromotion.php?"],a[href^="http://adcl.pchome.com.tw/"],
a[href*="adredir.php?"],a[href*="/showavd.aspx?adid="],iframe[src*=".allyes.com/"],a[href*="allyes.com/"],a[href*="http://cnrdn.com/"][target="_blank"]{
display: none !important;
	}
div[class^="cl970"],div[class^="cl760"],div[class$=" clDiv"]{display:none !important}

/* Adult WebSite AD*/
div[id$="_adImg"],div[id*="_ads_div"],div[id^="cnzz_"],div[class*="yahooAd"],
div[id^="lovexin"],span[id*="myads"],td>div[class="tj"],div[id*="allyesAdv"]{
display: none !important;
	}
div[id*="tuiguang"],div[class$="Tuijian"],div[class^="hot_tj"],div[class="tuijian"]{display:none !important}

/* Google */
div[id="prm"],div[class="c"][id="tads"],[class="c"][id="tadsb"],div[id="rhs_block"],ol[onmouseover="return true"],
[id*="adword"],[class*="adword"],[id*="adsense"],[class*="adsense"]{
display: none !important;
	}
div[class^="page_ad "],[href*="pagead"],[src*="pagead"],div[id*="googleAd"],
div[id^="google-ad"],div[id^="google_"],div[id*="GoogleAd"]{
display: none !important;
	}
div[class="nH adC"],div[class="mq"],td[class="aBC"],div[class="Zs"]{
    display: none;
}

/* Baidu */
div[id^="cpro_"],div[class^="brand-ad"],div[id="span_banner"],span[id="baidu"],div[class^="l_banner banner_theme_"],
div[id^="guanggao"],div[id*="ecomAd"],div[id="container"]>table[width="30%"][align="right"]{
display: none !important;
	}
a[href*="cb.baidu.com"],a[href*="hm.baidu.com"],a[href*="cpro.baidu.com"],
a[href*="www.baidu.com/baidu.php?"],a[href*="http://www.baidu.com/adrc.php"]{
display: none !important;
	}

/* FaceBook */
div[class="fblike_button"],#fb_like,#fb_plugin,iframe[src^="http://www.facebook.com"]{display:none !important;}

/* Taobao */
[src*="网购排行：淘宝网最新热门东西"],[href*="网购排行：淘宝网最新热门东西"]{display:none !important}
a[href^="http://click.simba.taobao.com"],a[href*="http://click.mz.simba.taobao.com/"],a[href*="http://s.click.taobao.com"]{display:none !important}
div[id^="p4pblock"],div[class^="hotsale"],div[id="p4p-tabbed"],div[class="p4p-panel"][rel="p4p"],
div[id="p4p-sidebar"],div[rel="p4p-etao"],section[class="hotsale"],ul[class="p4p-list"],div[class^="tao_a_d"]{
display: none !important;
	}

/* QQ */
div[class*="l_qq_com"],[id*="l_qq_com"],div[class*="qiye-Article-QQ"],div[class*="business-Article-QQ"],div[class*="AdBox-Article-QQ"],div[class*="LoveLife-Article-QQ"],div[id="followall_mod"]{display:none !important}
div[class^="area960 "],div[style^="width:960px;height:60px;margin:0px "],div[style^="width:960px; height:60px; margin:0px"],div[style^="width:960px;height:90px;margin:0px "],div[style*=";background-color:#E6E6E6;"]{display:none !important}

/* 浮动过滤 提示隐藏 */
div[id^="adfloat"],div[id^="floatAD_"],div[id^="Float"]>div,div[id^="floatdiv"],div[id$="_Float_Div"],div[id="float1"],div[id="float2"],
div[id="piaofu"],div[class^="adFloat"],div[class^="float-ad-"],embed[name^="couplet"],div[id="QQ_Full"]{
display: none !important;
	}
div[id$="FollowPopUp"],div[id="ty_msg_mod"],div[id$="closeBig"],div[class="blogpop"],#bbs_jxtj,#bshareF,#fixedLayertop,.QQbox,
div[id="qqaddiva"],div[id="ShowQQ"],div[id="popupWin"],div[id^="_CNZZ_SEARCH"],div[class="floatingTabsBox"]{
display: none !important;
	}
div[class^="upgrade_ie6"],div[id="update_popwin"],div[id="browsertip"],div[class^="bot_tips"],div[class="tips_player"],div[class="tips_container"],div[id="browse_popularize"],div[class="upgrade_your_browser"]{display:none !important}

/* 国内部分站点广告 */
sohuadcode {display:none !important}
div[feedtype="ad"],div[class="newslist"]>dl>dd[class="detail"]>em,div[class^="content ad-"],div[class^="imh-vv "][id^="imh-"],div[class^="tit_ad"]{display:none !important}

/* 海外部分站点广告 */
div[gmi-name="ad_zone"],div[class^="promo-"]{display:none !important}
