@charset "utf-8";
/*
Name: 微软雅黑
Version:2.1
Description: Opera Font Style.
*/

* {font-family: "YaHeiConsolas", "Microsoft YaHei", "微软雅黑", "Tahoma", "SimSun", "宋体"  !important;}

pre, code, kbd, samp, var {
font-family: "Courier New", "微软雅黑", "Microsoft Yahei",  monospace !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"汉仪细行楷简","Verdana";
    }

body,div,tr,td,p,a,ul,span,input,textarea */ 
body {
    font-family:"Oxygen","YaHei Consolas Hybrid" ;
    }
